{% extends "base.html" %}
{% block title %}
    Cadastro Paciente
{% endblock title %}
{% block content %}
    <form class="form" action="{% url 'cadastra_paciente' %}" method="post">
        {% csrf_token %}
        <div class="form-header">
            <div class="title">
                <h1>Novo Paciente</h1>
            </div>
        </div>
        {% if status == '1' %}<div class="message-success">{{ message }}</div>{% endif %}
        {{ form.as_p }}
        <div class="continue-button">
            <button type="submit">Confirmar</button>
        </div>
    </form>
{% endblock content %}
