.form_row_list {
    position: relative;
    border-radius: 5px;
    background-color: #f9fafc;
    padding: 30px;
    width: 70%;
}

.form_row_list h2 {
    text-align: center;
}

/* .form_row_list .row {
    position: relative;
    padding: 20px 0px 10px;
} */

.form_row_list .row-left {
    display: flex;
    justify-content: right;
    align-items: center;
}

a.button-link {
    background-color: #079c7e;
    cursor: pointer;
    padding: 13px 35px;
    border-radius: 5px;
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}


.data-list-atlas {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

.data-list-atlas td,
.data-list-atlas th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-list-atlas tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-list-atlas tr:hover {
    background-color: #ddd;
}

.data-list-atlas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}