.data-list-atlas {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

.data-list-atlas td,
.data-list-atlas th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-list-atlas tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-list-atlas tr:hover {
    background-color: #ddd;
}

.data-list-atlas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}