{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta name="description" content="">
<meta name="keywords" content="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Master
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

    {% block css %}
    {% endblock %}

    <script src="{% static 'js/util.js' %}"></script>
</head>

<body>
    <form action="{% url 'logout' %}" method="post" class="navbar-right">
        {% csrf_token %}
        <ul class="horizontal">
            <li>
                <a href="{% url 'lista_consultas' %}" class="active">Transportes</a>
            </li>
            <li>
                <a href="{% url 'lista_pacientes' %}">Pacientes</a>
            </li>
        </ul>
    </form>

    {% for message in messages %}
    <div class="row-alert {{ message.tags }}">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}

    {% comment %} <img src="{% static 'img/image.png' %}" alt=""> {% endcomment %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>